@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

:root {
  --color-primary: #6379f4;
  --color-secondary: #fafcff;
  --color-dark: #3a3d42;
  --color-white: #ffffff;
  --color-danger: #ff5b37;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
}

/* Rounded */

.rounded-14 {
  border-radius: 14px !important;
}

/* ul li */

ul {
  list-style: none;
  margin-bottom: 0 !important;
}

li {
  margin-bottom: 0 !important;
}

/* Icon */

.i-mail {
  background: url(/assets/images/icons/mail.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
  transition: ease-in-out 0.2s;
}

.i-edit {
  background: url(/assets/images/icons/edit-2.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
  transition: ease-in-out 0.2s;
}

.i-eye-crossed {
  background: url(/assets/images/icons/eye-crossed.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
}

.i-lock {
  background: url(/assets/images/icons/lock.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
  transition: ease-in-out 0.2s;
}

.i-search {
  background: url(/assets/images/icons/search.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
  transition: ease-in-out 0.2s;
}

/* Login */
.landing {
  height: 100vh;
  padding-top: 5.625rem;
}

.bg-landing {
  position: absolute;
  width: 40%;
  height: 400px;
  border-bottom-left-radius: 50%;
  background: var(--color-primary);
  right: 0;
  top: 0;
}

/* Auth */

.bg-side-auth {
  background: url(/assets/images/bg-auth.webp);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

.phone-auth-image {
  height: 28.125rem;
  position: relative;
  left: -20px;
}

@media (min-width: 1440px) {
  .phone-auth-image {
    height: 40rem;
  }
}

/* Input Customize */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Bottom Line */
.input-container {
  border-bottom: 2px solid #a9a9a9;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.3s;
}

.input-container:hover > label .i-mail,
.input-container:focus-within > label .i-mail {
  background-image: url(/assets/images/icons/mail-active.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
}

.input-container:hover > label .i-lock,
.input-container:focus-within > label .i-lock {
  background-image: url(/assets/images/icons/lock-active.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
}

.input-container:hover > label .i-search,
.input-container:focus-within > label .i-search {
  background-image: url(/assets/images/icons/search-active.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
}

.input-container > label .input-line {
  outline: none;
  border: none;
  width: 100%;
  margin: 0 10px;
}

.input-container:hover,
.input-container:focus-within {
  border-bottom-color: var(--color-primary);
}

/* Bordered Input */
.input-container-bordered {
  background: rgba(58, 61, 66, 0.1);
  display: flex;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  transition: ease-in-out 0.3s;
}

.input-container-bordered:hover > label .i-mail,
.input-container-bordered:focus-within > label .i-mail {
  background-image: url(/assets/images/icons/mail-active.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
}

.input-container-bordered:hover > label .i-lock,
.input-container-bordered:focus-within > label .i-lock {
  background-image: url(/assets/images/icons/lock-active.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
}

.input-container-bordered:hover > label .i-search,
.input-container-bordered:focus-within > label .i-search {
  background-image: url(/assets/images/icons/search-active.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
}

.input-container:hover > label .i-edit,
.input-container:focus-within > label .i-edit {
  background-image: url(/assets/images/icons/edit-2-active.svg);
  height: 24px;
  width: 28px;
  background-size: cover;
  display: inline-block;
}

.input-container-bordered > label .input-line {
  position: relative;
  top: 2px;
  margin-left: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
}

.input-container-bordered:hover,
.input-container-bordered:focus-within {
  border-bottom-color: var(--color-primary);
}

.input-only-placeholder {
  border: none;
  outline: none;
  font-size: 36px;
  width: 60%;
  text-align: center;
  color: var(--color-primary);
}

.input-bordered-small {
  height: 65px;
  width: 53px;
  font-size: 30px;
  outline: none;
  border: 2px solid #a9a9a9;
  transition: ease-in-out 0.2s;
  text-align: center;
}

@media (min-width: 0) and (max-width: 992px) {
  .input-bordered-small {
    height: 50px;
    width: 100%;
    font-size: 24px;
  }
}

.input-bordered-small:hover,
.input-bordered-small:focus {
  border-color: var(--color-primary);
}

/* Dashboard */

.side-nav-left {
  border-radius: 20px;
  min-height: 417px;
  max-height: 500px;
}

.side-nav-left > ul li.active > a h6 {
  font-weight: bold;
}

.side-nav-left > ul li.active::before {
  content: "";
  width: 8px;
  height: 24px;
  background: var(--color-primary);
  left: 0;
  position: absolute;
}

.side-nav-right {
  border-radius: 20px;
}

.overlay-1 {
  background: rgba(0, 0, 0, 0.5);
}

.bg-grey {
  background-color: rgba(99, 121, 244, 0.15) !important;
}

.bg-white-outline {
  border: 2px solid var(--color-white) !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

/* Side Navbar */

.side-navbar {
  position: fixed;
  overflow: hidden;
  width: 270px;
  left: -270px;
  height: 100vh;
  top: 0;
  z-index: 3;
  background: var(--color-white);
  transition: ease-in-out 0.2s;
}

.side-navbar.active {
  left: 0;
}

.sidebar-overlay {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0;
  z-index: -1;
  background: transparent;
  transition: ease-in-out 0.1s;
}

.sidebar-overlay.active {
  opacity: 1;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}
